<form>
    <div class='form-group'>
        <label>{{loc 'rolls.modifier'}}</label>
        <input type='number' id='twd-roll-mod' value='0' />
    </div>
    <div class='form-group'>
        <label>{{loc 'rolls.passive'}}</label>
        <input type='checkbox' id='twd-roll-passive' value='true' />
    </div>
</form>