.sheet-header {
    margin: 0;

    &.npc,
    &.character {
        .profile-img {
            flex: 0 0 100px;
            height: 100px;
            margin-right: 10px;
            margin-left: 3.5px;
            margin-top: 3.5px;
            margin-bottom: 3.5px;
            border-image-slice: 14 13 13 14;
            border-image-width: 5px 5px 5px 5px;
            border-image-outset: 3.5px;
            border-image-repeat: repeat repeat;
            border-image-source: url('/systems/thewalkingdead/assets/border.png');
        }
    }
}

.sheet-fields {
    border: 1px solid $c-border;

    &-group {
        display: flex;
        align-items: center;

        .sheet-field + .sheet-field {
            border-left: 1px solid $c-border;
            border-top: none;
        }

        & + .sheet-fields-group,
        & + .sheet-field {
            border-top: 1px solid $c-border;
        }
    }
}

.sheet-field {
    display: flex;
    gap: 0.3rem;
    padding: 0.2rem 0.5rem;
    flex: 1;

    &.long {
        display: block;
        padding: 0;

        label {
            display: block;
            border-bottom: 1px solid $c-border-light;
            padding: 0.2rem 0.5rem;
        }

        .editor {
            height: 250px;

            &-content {
                padding: 0 0.5rem;
            }
        }
    }

    & + .sheet-field,
    & + .sheet-fields-group {
        border-top: 1px solid $c-border;
    }

    label {
        font-weight: 500;
        font-size: 0.8rem;
    }

    input,
    .editor-content {
        flex: 1;
        border: none;
        background-color: transparent;
        font-family: $font-handwrite;
        font-size: 1.4rem;

        &:focus {
            box-shadow: none;
        }
    }

    select {
        flex: 1;
        border: 1px solid $c-border-light;
        border-radius: 0;
    }
}

.sheet-section {
    border: 1px solid $c-border;

    header {
        background-color: $c-heading;
        border-bottom: 1px solid $c-border;
        font-size: 1.6rem;
        font-family: $font-grunge;
        text-transform: uppercase;
        display: flex;

        & > div {
            padding: 0.3rem 0.5rem;
        }

        & > div:first-child {
            flex: 1;
        }

        .item-control {
            font-family: $font-primary;
            font-size: 1rem;
            text-transform: none;
            font-weight: 600;

            &:hover {
                color: $c-maroon;
                text-shadow: none;
            }
        }
    }

    &-content {
        margin: 0;
        padding: 0;
    }

    & + .sheet-section {
        margin-top: 1rem;
    }
}

.sheet-stress {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-left: 1px solid $c-border;
}

.sheet-health-header {
    flex: 1;
}

.char-stats {
    gap: 0;

    &-col {
        list-style: none;
        padding: 0;
        margin: 0;

        &:not(:first-child) {
            border-left: 1px solid $c-border-light;
        }

        &.char-health li {
            height: $item-row-size;
        }
    }
}

.char-health-block {
    max-height: calc($item-row-size * 4);
    overflow: hidden;

    .char-injuries-block {
        height: calc($item-row-size * 4);
        overflow-y: auto;
    }
}

.char-stat {
    display: flex;
    align-items: center;
    padding-right: 0.3rem;

    &:not(:last-child) {
        border-bottom: 1px solid $c-border-light;
    }

    &-attr {
        background-color: $c-heading-light;

        label {
            text-transform: uppercase;
        }
    }

    label {
        flex: 1;
        display: block;
        line-height: 1.5rem;
        padding: 0.3rem 0.5rem;
        font-weight: 600;

        &:hover {
            color: $c-maroon;
            cursor: pointer;
        }
    }

    input {
        flex: 1;
        max-width: 30px;
        text-align: center;
        background: transparent url(/systems/thewalkingdead/assets/border.png) center center;
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        outline: none;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}

.char-box {
    height: 20px;
    width: 20px;
    background: transparent url(/systems/thewalkingdead/assets/border.png) center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    position: relative;

    &-track {
        display: flex;
        gap: 0.1rem;
        padding: 0.2rem 0;
    }

    &.active::before {
        display: block;
        content: 'x';
        font-family: $font-handwrite;
        position: absolute;
        font-size: 2.5rem;
        line-height: 20px;
        text-transform: lowercase;
        width: 25px;
        top: -1px;
        left: 3px;
    }
}

.drive-check {
    margin-top: 0.2rem;
}

nav.sheet-tabs {
    border: none;
    margin: 0;
    padding: 1rem 0;

    a {
        font-family: $font-grunge;
        text-transform: uppercase;
        font-size: 1.5rem;
        line-height: 0.2rem;

        &:hover,
        &.active {
            text-shadow: none;
            color: $c-maroon;
        }

        &.active {
            border-bottom: 4px solid transparent;
            border-image-slice: 14 13 13 14;
            border-image-outset: 3.5px;
            border-image-repeat: repeat repeat;
            border-image-source: url('/systems/thewalkingdead/assets/border.png');
        }
    }
}

.sheet-table {
    margin: 0;
    border: none;

    thead {
        background-color: $c-heading-light;
        border-bottom: 1px solid $c-border-light;

        tr {
            th {
                color: black;
                text-shadow: none;
                font-weight: 600;
                text-align: left;
                padding: 0.2rem 0.5rem;
            }
        }
    }

    tbody {
        tr {
            &:nth-child(odd) {
                background-color: $c-heading-light;
            }

            td {
                padding: 0.2rem 0.5rem;
            }
        }
    }
}
