$c-white: #fff;
$c-black: #000;

$c-dark: #191813;
$c-faint: #c9c7b8;
$c-beige: #b5b3a4;
$c-tan: #444;

$c-maroon: rgb(112, 43, 51);
$c-shadow: rgba(112, 43, 51, 0.3);
$c-green: rgb(32, 149, 73);

$c-border: rgb(122, 37, 44);
$c-border-light: rgb(188, 146, 151);

$c-heading: rgba(170, 92, 63, 0.214);
$c-heading-light: rgba(214, 136, 107, 0.116);
